<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="referrer" content="never">
  <title> 青山多妩媚 </title>
<link href="style/sing-index-css.css" rel="stylesheet"></head>
<body>
  <div id='app'></div>
<script type="text/javascript" src="sing-manifest-528d7503.js"></script><script type="text/javascript" src="sing-vendor-595f1ac3.js"></script><script type="text/javascript" src="sing-index-787b309a.js"></script></body>
</html>
