body {
  max-width: 300px;
  margin: 20px auto; }

#app {
  padding: 20px;
  background: url("https://user-gold-cdn.xitu.io/2018/7/11/16488ddc42923c5d?w=300&h=600&f=jpeg&s=800") 100% 100% no-repeat; }
